nav{
    border-bottom-style: 5px, solid black;
    
}
i {
    color: red;
}
#filter li a:hover:not(.main-header){
    background-color: #eeee;
}
#sortbtn{
    background-color:grey;
    margin-right: auto;
}